<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>memebook</title>
    <style type="text/css">
        .column {
            float: left
        }
        .left {
            width: 75%
        }
        .right {
            width: 25%
        }
    form {
    font-style: normal;
    display: inline-block;
    position: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 500px;
    height: 500px;
    margin: auto;
    align-content: center;
    font-family: monospace;
    text-align: center;
    background-color: lightskyblue;
    }
</style>
</head>
<body style="text-align: center; background-color: lightskyblue">
    <h1 style="text-align: center;">memebook
    <hr style="border-color: black">
        <h2 style="text-align: center;"> <br> <br> Error 404: Page not found. <br> <br> </h2>
 </body>
</html>