<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>memebook</title>
    <style type="text/css">
    form {
    font-style: normal;
    display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 500px;
    height: 500px;
    margin: auto;
    font-family: monospace;
    text-align: center;
    /* background-color: lightgreen; */
    }
</style>
</head>
<body style="text-align: center; background-color: lightskyblue">
    <h1 style="text-align: center;">memebook - login</h1>
    <hr style="border-color: black">
    <h3>
    <div>
        <form action="/login" method="post" id="login-form">
            <div style="color: red; font-size: medium; font-family: Helvetica Neue, Helvetica, Arial, sans-serif;">{{ error_message }}</div>
            <br>
            <div>
                <p><label>Username</label>
                <input type="text" name="username" required>
                </p>
            </div>
            <div>
                <p><label>Password</label>
                <input type="text" name="password" required>
                </p>
            </div>
            <div>
                <button onclick="submit" style="padding: 12px 28px; background-color: darkblue; color: white">Login</button>
            </div>
            <p> New User? <a href="http://localhost:8080/register"> Register </a> </p>
        </form>
    </div>
    </h3>
</body>
</html>