<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>memebook</title>
    <style>
        * {
            background-color: lightskyblue;
        }
        .column {
            float: left
        }
        .left {
            width: 75%
        }
        .right {
            width: 25%
        }
        .first {
            width: 50%
        }
        .second{
            width: 25%;
        }
        .third{
            width: 25%;
        }
    </style>
</head>
<body>
    <h1 style="text-align: center;">memebook - my profile</h1>
    <hr style="border-color: black">
    <div class="row">
        <div class="column left">
            <div class="row">
                <div class="column first">
                    <h3 style="text-align: center"> {{ active_username }} <br> Memes Created: {{ count_memes }} </h3>
                </div>
                <div class="column second">
                    <h3 style="text-align: center">
                    <a href="http://localhost:8080/{{ active_username }}/my_followers">
                    Followers</a>: {{ count_followers }}</h3>
                </div>
                <div class="column third">
                    <h3 style="text-align: center">
                    <a href="http://localhost:8080/{{ active_username }}/my_following">
                    Following</a>: {{ count_following }}</h3>
                </div>
            </div>
        <div>
            <br>
            <br>
            <br>
            <br>
        </div>
        <br>
        <br>
        <div style="text-align: center; align-self: center; margin: auto; width: 70%">
        {% for meme in my_memes %}
            <br>
            <div style="text-align: left">
                    <a href="/{{ active_username }}/edit_meme/{{ meme['id'] }}" style="text-align: right;">Edit</a> |
                    <a href="/{{ active_username }}/delete_meme/{{ meme['id'] }}" style="text-align: right">Delete</a>
            </div>
        <div style="border: black; border-style: dashed; text-align: center; justify-content: center">
            {% if meme["creator_username"] == active_username %}
            <h4> <a href="http://localhost:8080/{{ active_username }}/my_profile">
                {{meme['creator_username']}}</a>: {{meme["title"]}}</h4>
            {% else %}
            <h4> <a href="http://localhost:8080/{{ active_username }}/profile/{{meme['creator_username']}}">
                {{meme['creator_username']}}</a>: {{meme["title"]}}</h4>
            {% endif %}
            {% if meme["extension"] %}
            <IMG src="/static/uploaded_memes/{{ meme['id'] }}.{{ meme['extension'] }}" width="400px" height="250px">
            {% endif %}<br>
            {{meme["caption"]}}
            <br>
            <div style="text-align: left">
            {% if user.has_liked_meme(meme) %}
            <a href="http://localhost:8080/{{ active_username }}/unlikes/{{ meme['id'] }}">Unlike</a>
            {% else %}
            <a href="http://localhost:8080/{{ active_username }}/likes/{{ meme['id'] }}">Like</a>
            {% endif %}
            <span style="float: right;">Likes: {{ meme['likes'] }} &nbsp;</span>
            </div>
            <br>
        </div>
        {% endfor %}
        <br>
        <br>
        </div>
        </div>
        <div class="column right">
           {% include 'sidebar.html' %}
            <br>
            <br>
            <div style="text-align: center; background-color: lightblue">
                <br>
                <h3 style="background-color: lightblue">Edit Profile</h3>
                <a href="http://localhost:8080/{{ active_username }}/edit_username"
                   style="background-color: lightblue">Modify Username</a>
                <br>
                <br>
                <a href="http://localhost:8080/{{ active_username }}/edit_email"
                   style="background-color: lightblue">Update Email</a>
                <br>
                <br>
                <a href="http://localhost:8080/{{ active_username }}/edit_password"
                   style="background-color: lightblue">Change Password</a>
                <br>
                <br>
                <a href="http://localhost:8080/{{ active_username }}/delete_account"
                   style="background-color: lightblue; color: red">Delete Account</a>
                <br>
                <br>
                <br>
            </div>
        </div>
    </div>
</body>
</html>