<div style="text-align: center; background-color: lightgreen">
            <br>
            <h3 style="background-color: lightgreen"> Current User: {{ active_username }} </h3>
            <a href="http://localhost:8080/{{ active_username }}/home" style="background-color: lightgreen">Home</a>
            <br>
            <br>
            <a href="http://localhost:8080/{{ active_username }}/most_liked"
               style="background-color: lightgreen">Most Liked Memes</a>
            <br>
            <br>
            <a href="http://localhost:8080/{{ active_username }}/your_likes"
               style="background-color: lightgreen">Memes You Liked</a>
            <br>
            <br>
            <a href="http://localhost:8080/{{ active_username }}/my_profile"
               style="background-color: lightgreen">My Profile</a>
            <br>
            <br>
            <a href="http://localhost:8080/{{ active_username }}/create_meme"
               style="background-color: lightgreen">Create Meme</a>
            <br>
            <br>
            <a href="http://localhost:8080/{{ active_username }}/search" style="background-color: lightgreen">Search Users</a>
            <br>
            <br>
            <a href="http://localhost:8080/" style="background-color: lightgreen">Logout</a>
            <br>
            <br>
            <br>
</div>