<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>memebook</title>
    <style type="text/css">
        .column {
            float: left
        }
        .left {
            width: 75%
        }
        .right {
            width: 25%
        }
    form {
    font-style: normal;
    display: inline-block;
    position: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 500px;
    height: 350px;
    margin: auto;
    align-content: center;
    font-family: monospace;
    text-align: center;
    background-color: midnightblue;
    }
</style>
</head>
<body style="text-align: center; background-color: lightskyblue">
    <h1 style="text-align: center;">memebook - <span style="color: midnightblue">create meme</span></h1>
    <hr style="border-color: black">
    <div class="row">
        <div class="column left">
            <span style="background-color: white">
            <div>
                <form action="/{{ active_username }}/create_meme" method="post" id="create-form"
                      enctype="multipart/form-data">
                    <p style="font-family: monospace; text-align: center; margin-top: 75px;
                    font-size: x-large; color: white">New Meme</p>
                    <p style="color: red"> {{ error_message }} </p>
                    <div>
                        <p><label style="color: white">Title</label>
                        <input type="text" name="title" required>
                        </p>
                    </div>
                    <div>
                        <p><label style="color: white">Caption</label>
                        <input type="text" name="caption" required>
                        </p>
                    </div>
                    <div>
                        <p><label style="color: white">Upload Image</label>
                        <input type="file" name="file" style="color: white">
                        </p>
                    </div>
                    <div>
                        <button onclick="submit" style="padding: 12px 28px; background-color: lightskyblue;
                        color: black; text-align: center; align-content: center">Create Meme</button>
                    </div>
                </form>
            </div>
            </span>
        </div>
        <div class="column right">
            {% include 'sidebar.html' %}
        </div>
    </div>
 </body>
</html>